<!DOCTYPE html>
<html ng-app="eComm" ng-controller="navCtrl">

<head>
    <base href='/'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="user-scalable=no, initial-scale=1,
    maximum-scale=1, minimum-scale=1, width=device-width">
    <meta property="og:title" content="{{ seo.title }}">
    <meta property="twitter:title" content="{{seo.title}}">
    <meta property="og:image" content="{{ seo.image }}">
    <meta property="twitter:image" content="{{seo.image}}">
    <meta property="og:url" content="{{ seo.url }}">
    <meta property="twitter:url" content="{{ seo.url }}">
    <meta property="description" content="{{ seo.description }}">
    <meta property="og:description" content="{{ seo.description }}">
    <meta property="twitter:description" content="{{ seo.description }}">
    <title>{{SEO.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <nav>
        <a href="/"><img id="logo" src="img/logo.svg"></a>
        <ul>
            <a href="/apparel" ng-click="activeMenu = 'apparel'">
                <li ng-class="{active : activeMenu === 'apparel'}">APPAREL</li>
            </a>
            <a href="/misc" ng-click="activeMenu = 'misc'">
                <li ng-class="{active : activeMenu === 'misc'}">MISC</li>
            </a>
            <a href="/contactUs" ng-click="activeMenu = 'contact'">
                <li ng-class="{active : activeMenu === 'contact'}">CONTACT US</li>
            </a>
        </ul>
        <div id="cartBtn" ng-click="showCart()">
            <span>Cart</span><span class="cartEmblem">{{cartCnt}}</span>
        </div>
        <div id="shoppingCart" ng-show="shoppingCart">
            <div class="closeBox">
                <div ng-click="showCart()">Close</div>
            </div>
            <h1 class="shoppingTitle">Your Shopping Cart</h1>
            <div id="productWindow">
                <div class="shoppingCartItem" ng-repeat="item in items" >
                    <table>
                        <tr>
                            <td rowspan="2"><img ng-src="{{item.imageurl}}"></td>
                            <td width="70%">{{item.title}}</td>
                            <td width="30%">{{item.price}}</td>
                        </tr>
                        <tr>
                            <td class="cartItemRemove" ng-click="removeItem(item)">Remove</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="shoppingCartTotal">
                <span>Total Price</span><span>{{total}}</span>
            </div>
            <div class="taxLabel">Taxes and fees included at checkout.</div>
            <div class="checkoutBtn" ng-click="showCart('/checkout')">CHECK OUT</div>
        </div>
    </nav>
    <div class="staticMask" ng-show="shoppingCart" ng-click="showCart()"></div>
    <ng-view></ng-view>
    <footer>
        <img src='img/logo-footer.svg'>
        <span class="copyright">Copyright Covalence LLC</span>
    </footer>
    <!-- Library Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-resource.js"></script>
    <script src="app.js"></script>
    <script src="factories/apiFactories.js"></script>
    <script src="services/cart.svc.js"></script>
    <script src="services/SEOService.js"></script>


    <!-- Controller Scripts -->
    <script src="controllers/controllers.js"></script>
     <script src="https://js.stripe.com/v3/"></script>
    <script type="text/javascript">
        var stripe = Stripe('pk_test_o5qo9j3jCRjlYyselLTBeVth');
    </script> 
</body>

</html>