@font-face {
    font-family: brandon;
    src: url(BrandonGrotesque-Black.otf);
}

a{
    text-decoration: none;
    color: white;
}
h1{
    font-size: 28px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
h5{
    font-size: 14px;
}
#bg {
  position: fixed; 
  top:0;
  left: 0;
  right: 0;
  bottom: 0; 
  width: 100%; 
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
#bg.mobile{
    
}
body{
    font-family: brandon, sans-serif;
    position: relative;
    color: white;
    background-color: RGBA(29, 32, 41, 1.00);
    width: 100%;
}
nav{
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 1000;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    height: 75px;
    position: fixed;
    display: block;
    max-width: 1366px;
}
footer{
    right: 0;
    margin: 0 auto;
    z-index: 1003;
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid RGBA(216, 216, 218, 1.00);
    background-color: RGBA(244, 244, 244, 1.00);
    height: 75px;
    max-width: 1366px;
}
ng-view{
    right: 0;
    margin: 0 auto;
    display: block;
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    max-width: 1366px;
    overflow: auto;
}
.copyright{
    font-size: 18px;
    color: RGBA(211, 212, 214, 1.00);
    float: right;
    line-height: 85px;
    margin-right: 15px;
}
nav>ul{
    border-left-color: RGBA(63, 176, 192, 1.00);
    border-left-width: 3px;
    border-style: solid;
    display: inline-block;
    height: 35px;
    margin-top: 20px;
    vertical-align: top;
}
nav ul li{
    color: RGBA(63, 176, 192, 1.00);
    list-style: none;
    position: relative;
    display: inline-block;
    margin: 0 50px;
    line-height: 35px;
}
nav ul li.active{
    color: white;
    border-bottom: solid 3px white;
}

#cartBtn{
    float: right;
    margin-right: 25px;
    cursor: pointer;
}
.cartEmblem{
    color: white;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    border-radius:50%;
    background-color: RGBA(63, 176, 192, 1.00);
}
#logo{
    width: 200px;
}

footer img{
    margin-top: 25px;
    height: 35px;
    margin-left: 25px;
}
nav img{
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 50px;
    height: 50px;
}
.title{
    display: inline-block;
    position: absolute;
    top: 400px;
    font-size: 48px;
    left: 80px;
    width: 350px;
}
.titleBtn{
    display: inline-block;
    position: absolute;
    top: 525px;
    left: 80px;
    background-color: RGBA(63, 176, 192, 1.00);
    border-radius: 3px;
    padding: 20px;
}
#apparel{
    max-width: 1280px;
    width: 100%;

}
#apparelContainer{
    padding: 75px;
    overflow: auto;
}
.itemBox{
    display: inline-block;
    width: 29%;
    margin: 0 2% 40px 2%; 
}
.itemBox img{
    width: 100%;
}
.itemBoxTitle{
    padding: 10px 0;
}
.itemTitle{
    color:RGBA(122, 125, 136, 1.00);
    font-size: 20px;
}
.itemPrice{
    color:RGBA(63, 176, 192, 1.00);
    font-size: 20px;
    float: right;
}
#cartContainer{
    color: black;
    margin: 100px auto;
    width: 80%;
    border: solid 1px RGBA(211, 212, 214, 1.00);
    border-radius: 10px;
    height: auto;
}
#info{
    width: 60%;
    display: inline-block;
    height: 100vh;
    padding: 2%;
}
#cartInfo{
    float: right;
    width: 35%;
    padding: 2% 0;
    display: inline-block;
    background-color: RGBA(244, 244, 244, 1.00);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100vh;
}
#cancelBtn{
    margin: 15px auto;
    border-radius: 8px;
    color: red;
    background-color: white;
    width: 80%;
    text-align: center;
    padding: 10px 0;
    border: solid 1px RGBA(216, 216, 218, 1.00);
}
.cartTitle{
    margin: 30px 0 0 0;
    text-align: center;
}
.cartItem{
    padding: 10px;
}
.shoppingCartItem img, .cartItem img{
    height: 75px;
    width: 75px;
    display: inline-block;
    margin: 0 10px 0 10px;
}

.cartItemPrice{
    text-align: right;
}
.cartItemRemove{
    color: red;
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
table{
    display: inline-block;
    vertical-align: top;
}
td{
    padding: 10px 5px;
    vertical-align: top;
}
td:first-child{
    padding-top: 0;
}
td:last-child{
    text-align: right;
}
.promoBox{
    width: 90%;
    border: solid 1px RGBA(216, 216, 218, 1.00);
    margin: 10px auto;
    border-radius: 5px;
}
.promoBox div{
    display: inline-block;
    background-color: white;
    padding: 15px 0;
    text-align: center;
    width: 21.5%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.promoBox input{
    width: 70%;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
}
.cartTotal, .shoppingCartTotal{
    width: 90%;
    margin: 25px auto;
}
.shoppingCartTotal{
    font-size: 22px;
}
.cartTotal span:last-child, .shoppingCartTotal span:last-child{
    float: right;
}
.formTitle{
    display: inline-block;
    font-size: 20px;
    padding-left: 15px;
}
.formTitleBox{
    margin: 10px;
}
.formInput{
    border: none;
    background-color: RGBA(234, 234, 242, 1.00);
    padding: 10px;
    border-radius: 3px;
    float: right;
    font-size: 14px;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    margin: .5% 1%;
    display: inline-block;
}
.col-single{
    display: inline-block;
    float: right;
    width: 71%;
}
.col-1{width: 8.33%}
.col-2{width: 16.66%}
.col-3{width: 25%}
.col-4{width: 33.33%}
.col-5{width: 41.66%}
.col-6{width: 50%;}
.col-7{width: 58.33;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

.right{
    float: right;
}

.formSub{
    font-size: 15px;
    line-height: 40px;
    padding-right: 15px;
}
.submitBtn{
    position: relative;
    display: block;
    color: white;
    width: 150px;
    margin: 25px auto;
    background-color: RGBA(63, 176, 192, 1.00);
    border-radius: 3px;
    padding: 15px;
    text-align: center;
}
.text-center{
    text-align: center;
}
.center{
    position: relative;
    margin: 0 auto;
}
.card{
    width: 35px;
}
input[type="radio"]{
    vertical-align: top;
}
.cc{
    vertical-align: top;
    line-height: 22px;
    padding-left: 10px;
}
#shoppingCart{
    position: relative;
     top: 15px; 
    float: right;
    overflow-y: scroll;
    z-index: 1002;
     height: 100vh; 
    width: 400px;
    background-color:RGBA(239, 243, 246, 1.00);
    color: black;
}
.staticMask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;
    display: block;
}
.closeBox{
    background-color: RGBA(63, 176, 192, 1.00);
    display: block;
    height: 60px;
    color: white;
}
.closeBox div{
    display: inline-block;
    line-height: 60px;
    font-size: 20px;
    margin-left: 25px;
    cursor: pointer;
}
.shoppingTitle{
    margin: 30px 20px 20px 30px;
}
#productWindow{
    margin: 0 auto;
    width: 90%;
    border-bottom: solid 1px lightgray;
    padding-bottom: 20px;
    height: 120px;
    overflow-y: scroll;
}
.shoppingCartItem td:last-child{
    color: RGBA(63, 176, 192, 1.00);
}
.shoppingCartItem tr:last-child td:last-child{
    color: red;
}
.checkoutBtn{
    width: 70%;
    margin: 20px auto;
    background-color: RGBA(63, 176, 192, 1.00);
    text-align: center;
    font-size: 22px;
    padding: 16px;
    color: white;
    cursor: pointer;
}
.taxLabel{
    text-align: center;
    font-size: 14px;
    display: block;
    margin: 25px auto 10px auto;
}
#emailInfo{
    width: 80%;
    margin: 25px auto 0 auto;
    display: block;
}
p{
    margin: 25px 0 25px 30px;
    line-height: 18px;
}
#emailInfo h1{
    margin-left: 30px;
}
textarea{
    resize: none;
    height: 100px;
}
.singleItemContainer{
    margin: 150px auto;
    width: 90%;
}
.singleItemContainer img{
    width: 55%;
}
.itemContent{
    width: 38%;
    padding: 3% 0;
    display: inline-block;
    vertical-align: top;
    float: right;
}
.singleItemPrice{
    display: block;
    font-size: 36px;
    color:RGBA(63, 176, 192, 1.00);
}
.singleItemTitle{
    display: block;
    font-size: 36px;
    color: RGBA(118, 122, 134, 1.00);
    margin: 20px 0;
}
.description{
    font-size: 18px;
    line-height: 24px;
    color: RGBA(118, 122, 134, 1.00);
    margin: 0;
}
.addToCart{
    position: relative;
    display: block;
    color: white;
    width: 150px;
    background-color: RGBA(63, 176, 192, 1.00);
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}
.fa{
    color: white;
    vertical-align: top;
}
.fa-home{
    margin: 22px 15px 0 15px;
}
ul{
    width: 55%;
}
nav ul li.mobile-btn{
    margin: 0 7%;
}