/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #logo{
      display: none;
    }
    .mobile-btn{
      display: inline-block;
    }
    nav ul{
      display: block; 
      border-left: none;
      z-index: 1003;
      position: fixed;
      top: 75px;
      left: 0;
      width: 80%;
      background-color: rgba(0,0,0,.9);
      margin-top: 2px;
      height: auto;
      padding: 2% 0;
    }

    nav ul li{
      width: 90%;
      display: block;
      font-size: 1em;
      padding: 0;
    }
    #cartContainer{
      width: 100%;
      border: none;
    }
    #emailInfo{
      width: 100%;
    }
    p {
      margin: 25px auto;
      line-height: 18px;
      width: 90%;
    }
    .col-12{
      width: 95%;
      margin: 0 auto;
      display: block;
    }
    .col-single{
      width: 92%;
    }
    .col-4{
      width: 92%;
    }
    .formSub{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
   and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait) {
    #bg{
      width: 100vw;
      height: 100vmax;
      right:-50px;
      min-width: 700px;
      top: -50px;
      left: auto;
    }
    .itemBox {
      display: inline-block;
      width: 100%;
      margin: 0 2% 40px 2%;
    }
    .title{
      font-size: 1.5em;
      width: 80%;
      left: 5%;
      top: 55%;
      background-color: RGBA(63, 176, 192, 1.00);
      display: inline-block;
      padding: 10px;
    }
    .titleBtn{
      top: 70%;
    }
    .singleItemContainer img{
      width: 100%;
    }
    .itemContent{
      width: 100%;
      margin: 0 0 100px 0;
    }
    .addToCart{
      margin: 25px auto;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
  #bg{
      width: 100vw;
      height: 100vmax;
      right:0;
      min-width: auto;
      top: -140px;
      left: auto;
    }
    .itemBox {
      display: inline-block;
      width: 45%;
      margin: 0 2% 40px 2%;
    }
    .title{
      font-size: 1.5em;
      width: 40%;
      left: 5%;
      top: 30%;
      display: inline-block;
      padding: 10px;
    }
    .titleBtn{
      top: 50%;
      left: 40px;
    }
    nav ul{
      width: 50%;
    } 
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  #logo{
      display: none;
    }
    .mobile-btn{
      display: inline-block;
    }
    nav ul{
      display: block; 
      border-left: none;
      z-index: 1003;
      position: fixed;
      top: 75px;
      left: 0;
      width: 80%;
      background-color: rgba(0,0,0,.9);
      margin-top: 2px;
      height: auto;
      padding: 2% 0;
    }

    nav ul li{
      width: 90%;
      display: block;
      font-size: 1em;
      padding: 0;
    }
        #cartContainer{
      width: 100%;
      border: none;
    }
    #emailInfo{
      width: 100%;
    }
    p {
      margin: 25px auto;
      line-height: 18px;
      width: 90%;
    }
    .col-12{
      width: 95%;
      margin: 0 auto;
      display: block;
    }
    .col-single{
      width: 92%;
    }
    .col-4{
      width: 92%;
    }
    .formSub{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    #bg{
      width: 100vw;
      height: 100vmax;
      right:-25px;
      min-width: 700px;
      top: -75px;
    }
    .itemBox {
      display: inline-block;
      width: 100%;
      margin: 0 2% 40px 2%;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
 #bg{
      width: 100vw;
      height: 100vmax;
      right:0;
      min-width: auto;
      top: -140px;
      left: auto;
    }
    .title{
      font-size: 1.5em;
      width: 40%;
      left: 5%;
      top: 30%;
      display: inline-block;
      padding: 10px;
    }
    .titleBtn{
      top: 50%;
      left: 40px;
    }
    nav ul{
      width: 50%;
    } 
    .itemBox {
      display: inline-block;
      width: 45%;
      margin: 0 2% 40px 2%;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
#logo{
      display: none;
    }
    .mobile-btn{
      display: inline-block;
    }
    nav ul{
      display: block; 
      border-left: none;
      z-index: 1003;
      position: fixed;
      top: 75px;
      left: 0;
      width: 80%;
      background-color: rgba(0,0,0,.9);
      margin-top: 2px;
      height: auto;
      padding: 2% 0;
    }

    nav ul li{
      width: 90%;
      display: block;
      font-size: 1.5em;
      padding: 10px;
    }
        #cartContainer{
      width: 100%;
      border: none;
    }
    #emailInfo{
      width: 100%;
    }
    p {
      margin: 25px auto;
      line-height: 18px;
      width: 90%;
    }
    .col-12{
      width: 95%;
      margin: 0 auto;
      display: block;
    }
    .col-single{
      width: 92%;
    }
    .col-4{
      width: 92%;
    }
    .formSub{
      display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    #bg{
      width: 100vw;
      height: 100vmax;
      right:0;
      min-width: 700px;
      top: -75px;
    }
    .title{
      font-size: 3em;
      width: 80%;
      left: 5%;
      top: 50%;
      background-color: RGBA(63, 176, 192, 1.00);
      display: inline-block;
      padding: 10px;
    }
    .itemBox {
      display: inline-block;
      width: 100%;
      margin: 0 2% 40px 2%;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .itemBox {
      display: inline-block;
      width: 45%;
      margin: 0 2% 40px 2%;
    }
    nav ul{
      width: 50%;
    }
}