<div id="cartContainer">
    <div id="emailInfo">
        <div class "col-12">
            <h1>We Would love to hear from you!</h1>
        </div>
        <p>At the Covalence Shop we strive to make all our friends happy.  We can't do this without all your help
            however.  Please take a moment to send us your thoughts.  Good or Bad (Hopefully good...) we would love to hear from you.
        </p>
        <div class="formTitleBox">
            <div class="col-12">
                <span class="cartEmblem">1</span><span class="formTitle">Your Email</span>
            </div>
        </div>
        <div class="col-12">
            <input type="email" ng-model="email" class="formInput col-single" placeholder="you@email.com">
        </div>
        <div class="formTitleBox">
            <div class="col-12">
                <span class="cartEmblem">2</span><span class="formTitle">Your Information</span>
            </div>
        </div>
        <div class="pull-right">
            <div class="col-12">
                <div class="formSub col-2">Name</div>
                <input type="text" ng-model="first" class="formInput col-4" placeholder="First">
                <input type="text" ng-model="last" class="formInput col-4" placeholder="Last">            
            </div>
            <div class="col-12">
                <div class="formSub col-2"></div>
                <input type="text" ng-model="company" class="formInput col-4" placeholder="Company (optional)">
                <input type="text" ng-model="phone" class="formInput col-4" placeholder="Phone">
            </div>
        </div>
        <div class="formTitleBox">
            <div class="col-12">
                <span class="cartEmblem">3</span><span class="formTitle">Tell Us What You Want...</span>
            </div>
        </div>
         <div class="col-12">
            <input type="text" ng-model="subject" class="formInput col-single" placeholder="I love your products...">
        </div>
        <div class="formTitleBox">
            <div class="col-12">
                <span class="cartEmblem">4</span><span class="formTitle">Share your thoughts with Us</span>
            </div>
        </div>
        <div class="col-12">
            <textarea class="formInput col-single" ng-model="thoughts" placeholder="When are you going to start selling laptop covers?"></textarea>
        </div>
        <div style="clear:both"></div>
        <div class="submitBox">
            <h4 class="text-center" style="margin-top: 30px;">You'll hear from us soon.  Our Team does their best to respond to each email within 24 hours.</h4>
            <div class="submitBtn" ng-click="submitForm()" >SEND</div>
        </div>
    </div>
</div>