<div class="singleItemContainer">
    <img src="{{product.img}}">
    <div class="itemContent">
        <div class="singleItemPrice">$30</div>
        <div class="singleItemTitle">Covalence Mug</div>
        <p class="description">Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
             Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
              Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
               Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
        </p>
        <div class="addToCart">ADD TO CART</div>
    </div>
</div>